<app-header title="لایتنر" [color]="'primary'">

  <ion-toolbar color="primary">
    <ion-searchbar placeholder="جستجو"></ion-searchbar>
  </ion-toolbar>

</app-header>
<ion-content>
  <ion-content>
    <div class="lightner-box ion-padding">
      <div class="lower-box">
        <div class="item">
          <ion-row>
            <ion-col size="6">
              <span>لغت 179</span>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
              <ion-icon name="volume-high-sharp"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label class="ion-text-right lbl-txt">نیازمند یادآوری</ion-label>

            </ion-col>
          </ion-row>
        </div>
        <div class="item">
          <ion-row>
            <ion-col size="6">
              <span>لغت 179</span>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
              <ion-icon name="volume-high-sharp"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label class="ion-text-right lbl-txt">حافظه کوتاه مدت</ion-label>

            </ion-col>
          </ion-row>
        </div>
        <div class="item">
          <ion-row>
            <ion-col size="6">
              <span>لغت 179</span>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
              <ion-icon name="volume-high-sharp"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label class="ion-text-right">حافظه بلند مدت</ion-label>

            </ion-col>
          </ion-row>
        </div>
        <div class="item">
          <ion-row>
            <ion-col size="6">
              <span>لغت 179</span>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
              <ion-icon name="volume-high-sharp"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label class="ion-text- lbl-txt">آموخته شده</ion-label>

            </ion-col>
          </ion-row>
        </div>

      </div>
      <ion-button class="ion-padding" expand="block" shape="round" routerLink="/review">شروع مرور لغات</ion-button>
    </div>

    <ion-row *ngFor="let word of listWord">
      <ion-list class="w-100">
        <ion-item>
          <ion-col size="6" class="ion-text-left">
            <ion-label>
              {{word.en}}
              <ion-icon name="volume-high-sharp"></ion-icon>
            </ion-label>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-label>
              {{word.fa}}
              <ion-icon name="bar-chart-outline"></ion-icon>
            </ion-label>

          </ion-col>
        </ion-item>
      </ion-list>

    </ion-row>

  </ion-content>