ion-content {
     --background: #E1EAF9 !important;
}

ion-toolbar {
    --background: transparent;
    --opacity: 0;
}

ion-header {
    position: absolute;
}

.singin-btns {
    margin-top: 25px;
    text-align: center;
    color: #F0F4FA;

   
}
.loginbtn {
    --ion-color-primary: #215AB7;
}

.text-tag {
    margin-top: 40px;
    text-align: center;

    span {
        font-size: 13px;
        font-weight: normal;
        color: #898585;
    }
}
.social-btns{
    text-align: center;
    ion-button{
        width: 30px;
        padding-left: 5px !important;
    }
}
ion-card{
    --background: transparent;
    box-shadow: none !important;
}
.singin-btns{
    color: #243158 !important; 
}
ion-card-title{
    text-align: center;
    line-height: 54px;
    color: #243158 !important;
    font-size: 20px;
    font-weight: 400;
}
ion-card-subtitle{
    line-height: 30px;
    padding: 27px;
    color: #898585;
    font-size: 12px;
    font-weight: 200;
}