ion-content {
    --background: #243158 !important;
}
ion-title{
    text-align: center;
    line-height: 54px;
    color: white !important;
    font-size: 20px;
    font-weight: 400;
 }
.ch-menu {
    background-color: transparent;
    width: 100%;
    line-height: 30px;
  
    p {
        margin-right: 20px;
        padding-top: 10px;
        color: white;
        font-size: 15px;
        text-align: right;
    }

    .wrapper {
        max-width: 100%;
        border: none;
        display: flex;
        overflow-x: auto;

        .item {
            min-width: 200px;
            height: auto;
            margin-left: 33px;
            position: relative;

            #img {
                height: 245px;
                display: block;
                margin-right: auto;
                margin-left: auto;
                border: 3px solid #fff;
                outline: 1px solid #a8794a;
              box-shadow: 5px 5px 0 0 rgba(65,117,5,1), 
              10px 10px 0 0 rgba(65,117,5,0.6), 
              15px 15px 0 0 rgba(65,117,5,0.4),
               20px 20px 0 0 rgba(65,117,5,0.2),
                25px 25px 0 0 rgba(65,117,5,0.1);
            }

        }
    }


}