ion-content {
  --background:#121c3b;
}
ion-back-button{
  color: white;
}
swiper-container {
    width: 100%;
    height: 100%;
    background:#121c3b;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
   

 ion-card{
    height: 68%;
    width: 82%;
    margin-top: -5rem;
    background-color: #2b175b;
    color: #fff;
    ion-card-content {
      margin-top: 6rem;
   }
    }

    

  }


  .row-word {
    border-bottom: 1px solid #74787e
}

.row-btn {
    display: flex;
    justify-content: center;
}
.word-selected{

  font-weight: bolder;
  color: #fff;
}

.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --height: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;

}

::ng-deep .ion-page{
border: 1px solid #ccc;
}
ion-toolbar {
  --background: transparent;
  --opacity: 0;
}

ion-header {
  position: absolute;
}
ion-button{
  color: #ffff;
}

.bg-color {
  background-color: #030319 !important;
  color: #fff !important;
}

swiper-container::part(button-prev) {
  border: 1px solid #ccc !important;
  box-shadow: rgba(176, 173, 173, 0.15) 1.95px 1.95px 2.6px !important;
  padding: 9px !important;
  border-radius: 53% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 40px;
  height: 40px;
  color: #fff;
}

swiper-container::part(button-next) {
  border: 1px solid #ccc !important;
  box-shadow: rgba(176, 173, 173, 0.15) 1.95px 1.95px 2.6px !important;
  padding: 9px !important;
  border-radius: 53% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 40px;
  height: 40px;
  color: #fff;
}



.incorrect {
  animation: incorrect .7s;
}

@keyframes incorrect {
  0% {
      transform: translateX(0);
  }
  15% {
      color: red;
      transform: translateX(3px);
  }
  25% {
      color: red;
      transform: translateX(-3px);
  }
  50% {
      color: red;
      transform: translateX(3px);
  }
  75% {
    
      color: red;
      transform: translateX(-3px);
  }
  100% {
      transform: translateX(0);
  }
}






.successful {
  animation: successful .7s;
}

@keyframes successful {
  0% {
      transform: translateX(0);
  }
  15% {
      color: rgb(34, 194, 66);
      transform: translateX(3px);
  }
  25% {
      color: rgb(34, 194, 66);
      transform: translateX(-3px);
  }
  50% {
      color:rgb(34, 194, 66);
      transform: translateX(3px);
  }
  75% {
    
      color: rgb(34, 194, 66);
      transform: translateX(-3px);
  }
  100% {
      transform: translateX(0);
  }
}