<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="app/lightner"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <swiper-container id="swiper_review" class="mySwiper" init="false">
    <swiper-slide *ngFor="let word of listWord">
      <ion-card>
        <ion-card-header>
          <div class="holder-star">
            <ion-icon [name]="word.starTranslate?'star':'star-outline' " [class.icon-gold]="word.starTranslate" [class.incorrect]="word.starTranslate==false"></ion-icon>
            <ion-icon [name]="word.startSound?'star':'star-outline' " [class.icon-gold]="word.startSound" [class.incorrect]="word.startSound==false"></ion-icon>
            <ion-icon [name]="word.starWriting?'star':'star-outline' " [class.icon-gold]="word.starWriting" [class.incorrect]="word.starWriting==false"></ion-icon>
          </div>
          <ion-row class="ion-margin ion-padding row-word">
            <ion-col size="12">
              <h3 class="word-selected" [class.incorrect]="invalidRecognition" [class.successful]="validRecognition">
                {{word.en}}</h3>
              <h6 class="word-selected" *ngIf="Speek">شما گفتی :{{Speek}}</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <!----(click)="speechSynthesis(activeRow?.en)"-->
              <ion-button color="danger" (click)="speechSynthesis(activeRow?.en)">
                <ion-icon slot="start" name="volume-high-sharp"></ion-icon>
                Uk
              </ion-button>
              <ion-button class="primary" (click)="speechSynthesis(activeRow?.en)">
                Us
                <ion-icon slot="end" name="volume-high-sharp"></ion-icon>
              </ion-button>
              <ng-container *ngIf="isAvailable">
                <ion-button class="primary" *ngIf="!recording" (click)="startRecognition(activeRow?.en)">

                  <ion-icon name="mic-outline"></ion-icon>
                </ion-button>
                <ion-button class="danger" *ngIf="recording" (click)="stopRecognition()">
                  <ion-icon name="mic-off-outline"></ion-icon>
                </ion-button>
              </ng-container>
            </ion-col>
          </ion-row>
          <div class="holder-test ion-margin">
            <ion-icon name="star" class="icon-gold"></ion-icon>
            <ion-label>ترجمه :</ion-label>
            <ion-input type="text" placeholder="ترجمه" name="translate"
              (change)="changeInputTest($event,word)"></ion-input>
            <ion-icon name="checkmark" class="icon-gold" *ngIf="word.starTranslate"></ion-icon>
            <ion-icon name="close" *ngIf="!word.starTranslate"></ion-icon>
          </div>

        </ion-card-header>

        <ion-card-content>
          <ion-row class="row-btn">
            <ion-col size="12">
              <ion-button expand="block" shape="round" fill="outline" (click)="openModal('example')">نشان دادن
                مثال</ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button expand="block" shape="round" color="medium" (click)="openModal('translate')">نشان دادن
                معنی</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>

        <p [innerText]="activeRow.wordSelectUser?activeRow.wordSelectUser:''"></p>
        <div class="wrapper">
          <div class="ion-activatable ripple-parent circle">
            <!-- <ng-container *ngIf="isAvailable"> -->
              <ion-button *ngIf="!recording" (click)="startRecognition(activeRow?.en)">

                <ion-icon class="mic-outline" name="mic-outline"></ion-icon>
              </ion-button>
              <ion-button  *ngIf="recording" (click)="stopRecognition()">
                <ion-icon class="mic-off-outline" name="mic-off-outline"></ion-icon>
              </ion-button>
            <!-- </ng-container> -->
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </div>
        </div>
      </ion-card>



    </swiper-slide>

  </swiper-container>
  <div class="holder-btn-test" (click)="onButtonWordsClick($event)">
    <ion-button fill="outline" shape="round" *ngFor="let item of wordSelectUserData" color="primary">{{item}}</ion-button>
    <ion-icon name="trash-outline" (click)="clearClassBtn()"></ion-icon>
  </div>

  <div class="volume">
    <ion-icon name="volume-high-sharp" class="icon-volume"
      (click)="speechTestCleanText(activeRow?.CleanText)"></ion-icon>

  </div>

  <ion-modal #modal [isOpen]="true" [initialBreakpoint]="initialBreakpoint" [breakpoints]="[0,0.25,0.5,0.75,1]"
    [backdropBreakpoint]="backdropBreakpoint" handleBehavior="cycle" [backdropDismiss]="false">
    <ng-template>

      <div class="bg-color">
        <ion-row class="ion-padding row-word">
          <ion-col size="11" class="word-selected"> {{activeRow?.en}}</ion-col>
          <ion-col size="1" class="ion-text-right">
            <ion-icon name="volume-high-sharp" class="icon-volume" (click)="speechSynthesis(activeRow?.en)"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="mb-4">
          <ion-col size="6" class="ion-text-center">
            <ion-button expand="block" color="danger">یادم نیست</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="success" (click)="remember()">یادم هست </ion-button>

          </ion-col>

        </ion-row>
        <ion-segment [value]="segId" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="note">
            <ion-label>یادداشت</ion-label>
          </ion-segment-button>
          <ion-segment-button value="example">
            <ion-label>مثال</ion-label>
          </ion-segment-button>
          <ion-segment-button value="dictionary">
            <ion-label>دیکشنری</ion-label>
          </ion-segment-button>
          <ion-segment-button value="translate">
            <ion-label>معنی</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ng-container [ngSwitch]="segId">

          <div class="ion-margin ion-text-right" *ngSwitchCase="'translate'">
            {{activeRow?.fa}}
          </div>
          <div class="ion-margin ion-text-left" *ngSwitchCase="'example'">
            <p [innerHTML]="activeRow?.content | highlight: activeRow?.en"></p>
          </div>
          <div class="ion-margin ion-text-left" *ngSwitchCase="'dictionary'">
            {{activeRow?.en}}
          </div>
          <div class="ion-margin ion-text-right" *ngSwitchCase="'note'">
            <div class="emty" *ngIf="!isNewNode">
              <div class="isValue" *ngIf="!activeRow?.Node;else valueNode">
                <ion-row class="node-row">
                  <ion-col size="12" class="ion-text-center">
                    <ion-icon size="larg" name="reader-outline"></ion-icon>
                  </ion-col>
                  <h3>یادداشتی برای این کلمه اضافه نکردید!</h3>
                  <p>
                    از طریق دکمه زیر، می‌توانید یادداشتی مرتبط با کلمه
                    {{activeRow?.en}} اضافه کنید. یادداشت‌های افزوده شده،
                    فقط به خودتان نمایش داده خواهد شد.
                  </p>
                </ion-row>
                <ion-button expand="full" shape="round" color="primary" (click)="NewNode()">
                  افزودن یادداشت جدید
                </ion-button>
              </div>
              <ng-template #valueNode>

                <ion-item class="ion-margin item-node">
                  {{activeRow?.Node}}
                </ion-item>

                <ion-button expand="full" shape="round" color="primary" (click)="editNode()">
                  ویرایش یادداشت
                </ion-button>
              </ng-template>
            </div>

            <div class="insertNode" *ngIf="isNewNode">
              <h3>یادداشت برای {{activeRow?.en}}</h3>
              <ion-textarea [autofocus]="true" [(ngModel)]="node">
              </ion-textarea>
              <div class="holder-btn ion-margin">
                <ion-button color="primary" expand="small" [disabled]="(node=='')"
                  (click)="insertNode()">ذخیره</ion-button>
                <ion-button color="danger" expand="small" (click)="isNewNode=false">لغو</ion-button>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </ng-template>
  </ion-modal>
</ion-content>