<ion-header color="light">
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button fill="solid" shape="round" color="light" [routerLink]="['/app/home']">
        <ion-icon slot="icon-only" color="primary" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>انتخاب سریال</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <div class="ch-menu">
      <div class="holder">
        <div class="box-top ion-margin">
          <span>انتخاب سردبیر</span>
        </div>
        <div class="wrapper">
          <div class="card-series">
            <img src="assets/img/1.jpg" />
   
          </div>
          <div class="card-series" [routerLink]="['/app/seassons']">
            <img src="assets/img/5.jpg" />
 
          </div>


          <div class="card-series">
            <img src="assets/img/2.jpg" />
          </div>

          <div class="card-series">
            <img src="assets/img/3.jpg" />
          </div>

          <div class="card-series">
            <img src="assets/img/4.jpg" />
          </div>

        </div>

      </div>
    </div>
  </ion-card>
  <ion-card>
    <div class="ch-menu-holder">
      <div class="holder">
        <div class="box-top ion-margin">
          <span>جنگی</span>
        </div>
        <div class="wrapper-holder">
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/6.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/5.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/4.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/3.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/5.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/2.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/1.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
        </div>
  
      </div>
      <div class="holder">
        <div class="box-top ion-margin">
          <span>داستان های ساده</span>
        </div>
        <div class="wrapper-holder">
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/6.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/5.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/4.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/3.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/5.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/2.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/1.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
        </div>
  
      </div>
      <div class="holder">
        <div class="box-top ion-margin">
          <span>2010</span>
        </div>
        <div class="wrapper-holder">
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/6.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/5.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/4.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/3.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/5.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/2.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/1.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
        </div>
  
      </div>
      <div class="holder">
        <div class="box-top ion-margin">
          <span>2020</span>
        </div>
        <div class="wrapper-holder">
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/6.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/5.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/4.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/3.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/5.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/2.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/1.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
        </div>
  
      </div>
      <div class="holder">
        <div class="box-top ion-margin">
          <span>جنایی</span>
        </div>
        <div class="wrapper-holder">
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/6.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/5.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/4.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/3.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/5.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/2.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
          <div class="card-series-holder" [routerLink]="['/app/seassons']">
            <img src="assets/img/1.jpg" />
            <ion-label>نام سریال</ion-label>
          </div>
        </div>
  
      </div>
    </div>
  </ion-card>
</ion-content>