<ion-tabs>
  <ion-tab-bar slot="bottom,top" color="light">
    <ion-tab-button tab="home">
      <ion-icon name="home" color="primary"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
 
      <ion-icon name="search-outline"  color="primary"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="lightner">
      <ion-icon name="browsers-outline" color="primary"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="quick-study">
      <ion-icon name="card-outline" color="primary"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="person" color="primary"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>