<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header1.png"></ion-img>
  </ion-card>
  <ion-card-content>
    <form [formGroup]="validationFormUser" (ngSubmit)="loginUser(validationFormUser.value)">
      <div class="wrapform">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input type="text" formControlName="email" placeholder="email" name="email" [(ngModel)]="email"
            required></ion-input>
        </ion-item>
        <div>
          <ng-container *ngFor="let validation of validationUserMessage.email">
            <div class="error_message" *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty ||validationFormUser.get('email').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input formControlName="password" type="password" placeholder="*******" name="password"
            [(ngModel)]="password" required></ion-input>
        </ion-item>

        <div>
          <ng-container *ngFor="let validation of validationUserMessage.password">
            <div class="error_message" *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>

      </div>
      <div class="password_forgot">
        <ion-button fill="clear" class="ion-no-padding" routerLink="../forgot-password">Forgot Password</ion-button>
      </div>
      <div class="sign-btn-wrap">
        <ion-button shape="round" fill="solid" type="submit"  [disabled]="!validationFormUser.valid"
          class="sing-btn">Login</ion-button>
      </div>
      <div class="text-tag">
        <span>OR Via Social Media</span>
      </div>
      <div class="social-btns">
        <ion-button fill="clear" class="facebookbtn ion-no-padding">
          <ion-img src="assets/images/facebook.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="googlebtn ion-no-padding">
          <ion-img src="assets/images/google.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="applebtn ion-no-padding">
          <ion-img src="assets/images/apple.png"></ion-img>
        </ion-button>

      </div>
    </form>
  </ion-card-content>
</ion-content>