ion-content {
    --background: #E1EAF9 !important;
}

ion-toolbar {
   --background: transparent;
   --opacity: 0;
}

ion-header {
   position: absolute;
}

ion-card{
   --background: transparent;
   box-shadow: none !important;
}
.singin-btns{
   color: #243158 !important; 
}
ion-card-title{
   text-align: center;
   line-height: 54px;
   color: #243158 !important;
   font-size: 20px;
   font-weight: 400;
}
ion-card-subtitle{
   line-height: 30px;
   padding: 27px;
   color: #898585;
   font-size: 12px;
   font-weight: 200;
}
ion-item{
    color: #74787e;
    --border-color:#d4d7db;
    --background:transparent;
    --highlight-color-focused:#647b9d;
    --padding-start:0;
    --inner-padding-end:0;
    font-size: 12px;
    ion-icon{

        color:#243158;
         
    }
    ion-input{
        color: #647b90;
    }
}
.password_forgot{
    text-align: right;
    ion-button{
        font-size: 12px;
    }
}
.sign-btn-wrap{
    text-align: center;
    padding-top: 30px;
    .sing-btn{
      --ion-primary-color:#215AB7;
      color: #f4f6fa;  
    }
}
.text-tag {
    margin-top: 40px;
    text-align: center;

    span {
        font-size: 13px;
        font-weight: normal;
        color: #898585;
    }
}
.social-btns{
    text-align: center;
    ion-button{
        width: 30px;
        padding-left: 5px !important;
    }
}
.error_message{
    font-size: 6px;
    font-weight: 200;
    color: rgb(167, 47, 69);}