ion-card{
    --background: transparent;
    box-shadow: none !important;
 }
 ion-list{
    --background-color:transparent ;
    background:transparent !important;
    ion-item{
        color: #74787e;
        --border-color:#d4d7db;
        --background:transparent;
        border:none;
        --padding-start:0;
        --inner-padding-end:0;
       
        ion-icon{
    
            color:#243158;
             
        }
        ion-label{
            text-overflow:none !important;
             white-space: break-spaces !important;
             font-size: 14px;
        }
    
    }
 
    .direction-rtl{
        direction: rtl;
    }
 }
 ion-modal {
    --height: auto;
}

.row-word {
    border-bottom: 1px solid #74787e
}

.row-btn {
    display: flex;
    justify-content: center;
}

ion-segment {
    --background: #b9b8b8;
    border-radius: 17px;
    width: 100%;

    ion-segment-button {
        --background-checked: rgb(254, 255, 255);
        --color-checked: #0d0d0d;
        --indicator-color:rgb(239, 239, 239) !important;
        font-size: 18px;
        --color: #fff;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
}
.word-selected{
 
    font-weight: 800;
}
.text{
    font-size: 17px !important;
}
.color-gray{
    color: gray;
}