<ion-header #hideheader>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button fill="solid" shape="round" color="light" routerLink="/app/seassons">
        <ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" shape="round" color="light">
        <ion-icon slot="icon-only" name="share-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-button fill="solid" shape="round" color="light">
        <ion-icon slot="icon-only" name="search-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-button fill="solid" shape="round" color="light" [routerLink]="['/app',seasonId+1,'detail']">

        <ion-icon slot="icon-only"  color="primary" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content [appParallax]="img" scrollEvents="true" [appHideHeader]="hideheader" (ionScroll)="onScroll($event)">
  <!-- <div #img class="header-bac" [style.background-image]="'url(assets/img/friends.jfif)'"></div> -->
  <div class="relative">
    <img id="img" #img src="assets/img/friends.jfif">
    <div class="content">
      <ion-row>
        <ion-col size="5" class="ion-padding">
          <img class="box-image" src="assets/img/friends.jfif">

        </ion-col>
        <ion-col size="7">
          <ion-card class="ion-padding ion-text-right ion-no-margin">
            <ion-card-header class="ion-no-padding">
              <ion-card-title>
                {{seasons.title}}
              </ion-card-title>
              <ion-card-subtitle>فصل :{{seasons.number}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-row>
                <ion-col size="5" class="ion-text-right">
                  <ion-label>تاریخ انتشار </ion-label>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                  {{seasons.date}}
                </ion-col>
              </ion-row>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="seasons" class="dark-bg ion-padding-start">
    <ion-label>داستان فیلم :</ion-label>
    <p>
      {{seasons.summary}}
    </p>
  </div>

  <div>
    <app-episod-list [Season]="seasons"></app-episod-list>
  </div>
  <div class="dark-bg">
    <ion-row>
      <ion-col size="4">
        <ion-label>کارگردان :</ion-label>
      </ion-col>
      <ion-col size="6">
        {{seasons.director}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label>نویسنده :</ion-label>
      <div class="col-chip">
        <ion-chip *ngFor="let item of seasons.writers">
          <ion-avatar>
            <ion-img [alt]="item" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>{{item}}</ion-label>
        </ion-chip>
      </div>
    </ion-row>
    <ion-row>
      <ion-label>بازیگران :</ion-label>
      <div class="col-chip">
        <ion-chip *ngFor="let item of seasons.stars">
          <ion-avatar>
            <img [alt]="item" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>{{item}}</ion-label>
        </ion-chip>
      </div>

    </ion-row>
  </div>
</ion-content>