<ion-header  color="light">
  <ion-toolbar color="light">
    <ion-buttons>
      <ion-searchbar placeholder="جستجو بین دروس,اساتیدو سریال ها"></ion-searchbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <span ></span>
  <div class="relative" >
    <swiper-container id="swiper_search"  class="mySwiper"  init="false">
    <swiper-slide>
      <img src="assets/img/5.jpg"/>
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/6.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/7.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/8.jpg" />
    </swiper-slide>
  </swiper-container>
  </div>
<ion-card>
  <div class="ch-menu">
    <div class="holder">
      <div class="box-top ion-margin">
        <span>ویژه</span>
        <span class="ion-text-left icon">
          مشاهده همه
          <ion-icon name="chevron-back-outline"></ion-icon>
        </span>
      </div>
      <div class="wrapper">
        <div class="card-series" [routerLink]="['/app/seassons']">
          <img src="assets/img/5.jpg" />
          <img src="assets/img/5.jpg" />
          <img src="assets/img/5.jpg" />
        </div>
        <div class="card-series">
          <img src="assets/img/1.jpg" />
          <img src="assets/img/1.jpg" />
          <img src="assets/img/1.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/2.jpg" />
          <img src="assets/img/2.jpg" />
          <img src="assets/img/2.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/4.jpg" />
          <img src="assets/img/4.jpg" />
          <img src="assets/img/4.jpg" />
        </div>

      </div>

    </div>
    <div class="holder">
      <div class="box-top ion-margin">
        <span>تازه ها</span>
        <span class="ion-text-left icon">
          مشاهده همه
          <ion-icon name="chevron-back-outline"></ion-icon>
        </span>
      </div>
      <div class="wrapper">
        <div class="card-series" [routerLink]="['/app/seassons']">
          <img src="assets/img/6.jpg" />
          <img src="assets/img/6.jpg" />
          <img src="assets/img/6.jpg" />
        </div>
        <div class="card-series">
          <img src="assets/img/7.jpg" />
          <img src="assets/img/7.jpg" />
          <img src="assets/img/7.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/8.jpg" />
          <img src="assets/img/8.jpg" />
          <img src="assets/img/8.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/4.jpg" />
          <img src="assets/img/4.jpg" />
          <img src="assets/img/4.jpg" />
        </div>

      </div>

    </div>
    <div class="holder">
      <div class="box-top ion-margin">
        <span>داغ ترین ها</span>
        <span class="ion-text-left icon">
          مشاهده همه
          <ion-icon name="chevron-back-outline"></ion-icon>
        </span>
      </div>
      <div class="wrapper">
        <div class="card-series" [routerLink]="['/app/seassons']">
          <img src="assets/img/2.jpg" />
          <img src="assets/img/2.jpg" />
          <img src="assets/img/2.jpg" />
        </div>
        <div class="card-series">
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/1.jpg" />
          <img src="assets/img/1.jpg" />
          <img src="assets/img/1.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/4.jpg" />
          <img src="assets/img/4.jpg" />
          <img src="assets/img/4.jpg" />
        </div>

      </div>

    </div>
    <div class="holder">
      <div class="box-top ion-margin">
        <span>اکشن</span>
        <span class="ion-text-left icon">
          مشاهده همه
          <ion-icon name="chevron-back-outline"></ion-icon>
        </span>
      </div>
      <div class="wrapper">
        <div class="card-series" [routerLink]="['/app/seassons']">
          <img src="assets/img/2.jpg" />
          <img src="assets/img/2.jpg" />
          <img src="assets/img/2.jpg" />
        </div>
        <div class="card-series">
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/1.jpg" />
          <img src="assets/img/1.jpg" />
          <img src="assets/img/1.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/4.jpg" />
          <img src="assets/img/4.jpg" />
          <img src="assets/img/4.jpg" />
        </div>

      </div>

    </div>
    <div class="holder">
      <div class="box-top ion-margin">
        <span>جنگی</span>
        <span class="ion-text-left icon">
          مشاهده همه
          <ion-icon name="chevron-back-outline"></ion-icon>
        </span>
      </div>
      <div class="wrapper">
        <div class="card-series" [routerLink]="['/app/seassons']">
          <img src="assets/img/2.jpg" />
          <img src="assets/img/2.jpg" />
          <img src="assets/img/2.jpg" />
        </div>
        <div class="card-series">
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/1.jpg" />
          <img src="assets/img/1.jpg" />
          <img src="assets/img/1.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
          <img src="assets/img/3.jpg" />
        </div>
  
        <div class="card-series">
          <img src="assets/img/4.jpg" />
          <img src="assets/img/4.jpg" />
          <img src="assets/img/4.jpg" />
        </div>

      </div>

    </div>
  </div>
</ion-card>
</ion-content>
