<ion-content>

    <swiper-container class="mySwiper ion-margin" pagination="false" centeredSlides="true" grabCursor="true" >
      <swiper-slide class="swiper-slide">
        <ion-card>
          <ion-card-header>
            <ion-card-title>یادگیری زبان با سریال </ion-card-title>
            <ion-card-subtitle><strong>فرندز</strong></ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <p class="subtitle">مهارت های انگلیسی خود را با جملاتی از برنامه تلویزیونی محبوب دوستان بهبود بخشید!</p>
            <ion-button (click)="next()" fill="outline" color="light">بعدی</ion-button>
          </ion-card-content>
        </ion-card>
     
      </swiper-slide>
      <swiper-slide class="swiper-slide">
        <ion-card>
          <ion-card-header>
            <ion-card-title>یادگیری زبان با سریال </ion-card-title>
            <ion-card-subtitle><strong>فرندز</strong></ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <p class="subtitle">مهارت های انگلیسی خود را با جملاتی از برنامه تلویزیونی محبوب دوستان بهبود بخشید!</p>
            <ion-button (click)="start()" fill="outline" color="primary">شروع کنید</ion-button>
          </ion-card-content>
        </ion-card>


      </swiper-slide>
    </swiper-container>


<!-- <ion-button expand="full" shape="round" color="primary">شروع کنید</ion-button> -->
  
</ion-content>