ion-content {
    --background: #E1EAF9 !important;
}

ion-list {
    --background: transparent;
}

p {
    color: #74787e;
    line-height: 35px;
    font-size: 15px;
    padding: 5px 10px;
}

.text-right {
    text-align: right;
}