<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth/auth/login" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>
        Forgot Password
      </ion-card-title>
      <ion-card-subtitle>
        Enter your Email here to Reset Password
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="validationFormUser" (ngSubmit)="ResetPassword(validationFormUser.value)">
        <div class="wrapform">

          <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input type="text" formControlName="email" placeholder="email" name="email" required></ion-input>
          </ion-item>
          <!--error email-->
          <div>
            <ng-container *ngFor="let validation of validationUserMessage.email">
              <div class="error_message"
                *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty ||validationFormUser.get('email').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
          <!---------end error-->
        </div>
        <div class="sign-btn-wrap ion-margin-top ion-text-center">
          <ion-button shape="round" fill="solid" type="submit" class="sing-btn" type="submit"
            [disabled]="!validationFormUser.valid">Reset</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>